<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Stubborn{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>

<body>
    <header>
        <div class="header-left">
            <img src="{{ asset('images/logo.png') }}" alt="Logo Stubborn" class="header-logo" />
            <p id="header-slogan">Don't compromise on your look</p>
        </div>

        <nav>
            <ul class="header-right">
                {% if app.user %}
                    <li class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}"><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_products' ? 'active' : '' }}"><a href="{{ path('app_products') }}">Boutique</a></li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_cart' ? 'active' : '' }}"><a href="{{ path('app_cart') }}">Panier</a></li>
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}"><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}"><a href="{{ path('app_register') }}">S'inscrire</a></li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}"><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer">
            <div class="footer-left">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Stubborn" class="footer-logo" />
                <p id="footer-slogan">Don't compromise on your look</p>
            </div>

            <div class="footer-right">
                <p><strong>Stubborn</strong></p>
                <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
                <p><a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a></p>
            </div>
        </div>

        <div class="footer-bottom">
            &copy; Stubborn
        </div>
    </footer>
</body>

</html>
